*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

img{
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
  padding: 20px;
}
li{
  list-style: none;
}

h2{
  color: white;
  padding: 10px 0;
}
h3{
  color: white;
}
h4{
  color: #797c80;
}

/*debug*/
.debug{
  background-color: rgba(144, 238, 144, .3) ;
  border: 1px solid red;
}
.d-box{
  min-height: 20px;
  background-color: rgba(255, 0, 0, .3);
  padding: 20px 40px;
  border: 1px solid green;
}
/*debug*/
/******************layout*******************/



main{
  height: calc(100vh - 90px);
}

footer {
  height: 90px;
}

/*sidebar-layout*/
main .sidebar{
  width: 230px;
  height: 100%;
}
main .sidebar .main{
  height:calc(100% - 90px) ;
  overflow: auto;
}
main .sidebar .footer{
  height: 90px;
}

/*main-section-layout*/

main .main-section{
  width: 100%;
  overflow: auto;
}
/******************layout*******************/
/*btn*/
.btn{
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
}

/******************utility*******************/
.d-flex{
  display: flex;
}

.b-color-sidebar{
  background-color: black ;
}
.b-color-main{
  background-color: #141922;
}
.b-color-footer{
  background-color: #282828;
}
.b-color-upgrade{
  background-color: #080b12;
}
.t-grey{
  color: #797c80;
}
.t-white{
  color:white;
}

.uppercase{
  text-transform: uppercase;
}
.v-p10{
  padding: 10px 0;
}
.v-p20{
  padding: 20px 0;
}
.v-p30{
  padding: 30px 0;
}
.v-p40{
  padding: 40px 0;
}
.v-m40{
  margin: 40px 0;
}


/******************main*******************/
/*upgrade-section*/
.upgrade-section{
  padding: 35px 20px;
  height: 90px;
  text-align: right;
}
/*nav-section*/
.nav-section ul{
  justify-content: center;
  padding: 1rem;
  margin-bottom: 40px;
}
/*card-section*/
.col{
  flex-basis: calc(100%/6);
}
.card{
  width: 100%;
}
.card-section{
  padding: 20px
}
.box-card{
  gap: 20px;
  padding: 10px 0;
}
.card{
  flex-direction: column;
  align-items: center;
}
.creato-per{
  padding: 0px 20px
}
.popular{
  padding: 0 20px
}
.popular img{
  border-radius: 50%;
}

  a.card{
    padding: 0;
  }
  a.card .card-img{
    position: relative
    
  }
  a.card:hover .card-img{
    opacity: 0.6;
    
  }
  a.card:hover .card-img::after{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f144';
    position: absolute;                                 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
  }
